@model TerritoryWeb.Data.Territory
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map {
        height: 400px;
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">@Html.ActionLink(Localizer.GetString(Resources.Menu.Breadcrum.Home), "Index", "Home")</li>
        <li class="breadcrumb-item">@Html.ActionLink(Localizer.GetString(Resources.Menu.Breadcrum.Territories), "Index", "Territory")</li>
        <li class="breadcrumb-item active">@Localizer.GetString(Resources.Menu.Breadcrum.TerritoryCreate)</li>
    </ol>
</nav>
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <h4>Territory</h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.TerritoryName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.TerritoryName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TerritoryName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TerritoryTypeId, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.TerritoryTypes)
                        {
                            <label class="radio-inline">
                                @Html.RadioButtonFor(x => x.TerritoryTypeId, item.Value, new { id = item.Value })
                                @Html.DisplayFor(model => item.Text)
                            </label>
                        }
                        @Html.ValidationMessageFor(model => model.TerritoryTypeId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Notes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Notes)
                    </div>
                </div>

                <div class="form-group" id="geocodegroup">
                    <label class="control-label col-md-2">@Localizer.GetString(Resources.Views.Territory.Create.GeoCodeData)</label>
                    <div class="col-md-10">
                        <div class="checkbox" title="This feature has beed disabled.">
                            <label>@Html.CheckBox("createfromgeo", false, new { @disabled = "disabled" }) @Localizer.GetString(Resources.Views.Territory.Create.GeoCodeDataDesc)</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Resources.Common.Create" class="btn btn-default" />
                        @Html.ActionLink(Localizer.GetString(Resources.Common.Cancel), "Index", "Territory", new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>@Localizer.GetString(Resources.Views.Territory.Create.MapTitle)</h4>
            <hr />
            <div id="map"></div><br />
            <input class="form-control collapse" type="text" name="mapdata" id="mapdata" />
            @Localizer.GetString(Resources.Views.Territory.Create.MapHelpDesc)
        </div>
    </div>
}
@*Scripts.Render("~/bundles/mappolycreator")*@
<script>
    var creator;
    var mypoly;
    var drawingManager;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 40.613953, lng: -75.477791 },
            zoom: 12
        });

        //creator = new PolygonCreator(map);

        drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: google.maps.drawing.OverlayType.POLYGON,
            drawingControl: true,
            drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: ['polygon']
            }
        });
        drawingManager.setMap(map);

        google.maps.event.addListener(drawingManager, 'overlaycomplete', function (event) {
            if (event.type == 'polygon') {
                mypoly = event.overlay;

                //Record map data
                recordMapData();
            }
        });

        // Create the DIV to hold the control and call the CenterControl()
        // constructor passing in this DIV.
        var clearControlDiv = document.createElement('div');
        var clearControl = new ClearControl(clearControlDiv, map);

        clearControlDiv.index = 1;
        map.controls[google.maps.ControlPosition.TOP_CENTER].push(clearControlDiv);

    }

    function ClearControl(controlDiv, map) {

        // Set CSS for the control border.
        var controlUI = document.createElement('div');
        controlUI.style.backgroundColor = '#fff';
        controlUI.style.border = '2px solid #fff';
        controlUI.style.borderRadius = '3px';
        controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
        controlUI.style.cursor = 'pointer';
        controlUI.style.marginTop = '5px';
        controlUI.style.marginBottom = '22px';
        controlUI.style.textAlign = 'center';
        controlUI.title = 'Click to clear bounds';
        controlDiv.appendChild(controlUI);

        // Set CSS for the control interior.
        var controlText = document.createElement('div');
        controlText.style.color = 'rgb(25,25,25)';
        controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
        controlText.style.fontSize = '12px';
        controlText.style.lineHeight = '28px';
        controlText.style.paddingLeft = '5px';
        controlText.style.paddingRight = '5px';
        controlText.innerHTML = 'Clear';
        controlUI.appendChild(controlText);

        // Setup the click event listeners: simply set the map to Chicago.
        controlUI.addEventListener('click', function () {
            resetMap();
        });

    }

    function recordMapData() {
        var vertices = mypoly.getPath();
        var arrayString = "";
        // Iterate over the vertices.
        for (var i = 0; i < vertices.getLength() ; i++) {
            var xy = vertices.getAt(i);
            arrayString += '(' + xy.lat() + ',' + xy.lng() + ')';
        }

        $("#mapdata").val(arrayString);


        //Disable draw controls
        drawingManager.setMap(null);
    }

    function resetMap() {
        //Wipe Polygon
        mypoly.setMap(null);

        //Enable Drawing tool
        drawingManager.setMap(map);

        $("#mapdata").val("");


    }

    //$("#map").click(function () {
    //    var data = creator.showData();
    //    if (data != null) {
    //        $("#mapdata").val(data);
    //        $("#geocodegroup").show();
    //    }
    //});

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnFyc29RtN2hda5KjuK4queRlRtN3HIYE&callback=initMap&libraries=drawing&language=@TerritoryWeb.Common.Properties.Culture" async defer></script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*Scripts.Render("~/bundles/jqueryval")*@
}
